.grid{
    border: 5px solid dimgray;
    font-size: 15px;
    color:darkred;
}
#addbutton{
    float: right;
    color: darkred;
    background-color: dimgrey;
    
}

.myChoose{
    text-align: center;
    
}
.myChooseButton{
    color: darkred;
    border: 5px solid crimson
}
